*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background: url("DrumKit-Background.png") bottom center;
  font-family: sans-serif;
}

.keys{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.key{
  border: .4rem solid black;
  border-radius: .5rem;
  font-size: 1em;
  padding: 1rem .5rem;
  width: 7rem;
  text-align: center;
  color: orange;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  transition: all 0.07s;
}

kbd{
  display: block;
  font-size: 2rem;
  color: white;
}

.playing{
  transform: scale(1.1);
  border-color: #ffc700;
  box-shadow: 0 0 1rem #ffc700;
}
