*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: linear-gradient(rgb(64, 135, 179), pink);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

}

.container{
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 90%;
  max-width: 470px;
  color: #fff;
  margin: 100px auto 0px;
  padding: 40px 35px;
  border-radius: 20px;
  text-align: center;
}

.searchbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 4px;
}

.searchbar input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  padding: 10px 25px;
  margin-right: 16px;
  font-size: 18px;
}

.searchbar button{
  border: 0;
  outline: 0;
  background: #ebfffc; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.searchbar button img{
  width: 17px;
}

.weather{
  display: none;
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}

.weather h1{
  font-size: 70px;
  font-weight: 500;
}

.weather h2{
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}


